<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data noupdate="0">

    <!-- Marketplace -->
    <menuitem id="izi_marketplace.menu_root_marketplace" name="Marketplace" sequence="50"/>

    <!-- Marketplace / Accounts -->
    <menuitem id="izi_marketplace.menu_separator_mp_account" name="Accounts"
              parent="izi_marketplace.menu_root_marketplace" sequence="0"/>

    <!-- Marketplace / Accounts / Accounts -->
    <menuitem id="izi_marketplace.menu_item_mp_account" name="Accounts"
              parent="izi_marketplace.menu_separator_mp_account"
              action="izi_marketplace.action_window_mp_account" sequence="0"/>

    <!-- Marketplace / Configuration -->
    <menuitem id="izi_marketplace.menu_separator_mp_account_config" name="Configuration"
              parent="izi_marketplace.menu_root_marketplace" sequence="10"/>

    <!-- Marketplace / Configuration / Access Token -->
    <menuitem id="izi_marketplace.menu_item_mp_token" name="Access Token"
              parent="izi_marketplace.menu_separator_mp_account_config"
              action="izi_marketplace.action_window_mp_token" sequence="10"/>
  </data>
</odoo>